[submodule "tools"]
	path = tools
	url = https://github.com/floriangeigl/tools.git
[submodule "DynamicNetworkViz"]
	path = DynamicNetworkViz
	url = https://github.com/floriangeigl/DynamicNetworkViz.git
